{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}

   <style>
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #f8f9fa;
    }
    
    .card {
      border: none;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .card-header {
      background-color: #343a40;
      border-radius: 20px 20px 0 0;
      color: #fff;
      text-align: center;
    }
    .form-control {
      border-radius: 20px;
    }
    .btn-primary {
      border-radius: 20px;
      background-color: #343a40;
      border-color: #343a40;
      transition: background-color 0.3s ease;
    }
    .btn-primary:hover {
      background-color: #343a40;
      border-color: #343a40;
    }
    </style>    
    
    
{% if error == "no" %}
    <script>
        alert('record saved successfully')
        window.location = "{% url 'view_appointment' %}";
    </script>
{% endif %}   
    
{% if error == "yes" %}
    <script>
        alert('something went wrong, try again')
    </script>
{% endif %} 
    
    
<div class="container">
    <br>
    <h2 class="text-center">Add Appointment</h2>
    <br>
    <form method="POST">
        {% csrf_token %}
        <label>Doctor Name</label>
        <select name="doctor" class="form-control">
            {% for i in doctor %}
                <option value="{{ i.Name }}">{{ i.Name }}</option>
            {% endfor %}
        </select>
        
        <label>patient Name</label>
        <select name="patient" class="form-control">
            {% for i in patient %}
                <option value="{{ i.Name }}">{{ i.Name }}</option>
            {% endfor %}
        </select>
    
    
        <label>Date</label>
        <input type="date" class="form-control" name="date">
        <label>Time</label>
        <input type="time" class="form-control" name="time">
        <br>
        <input type="submit" value="submit" class="form-control btn btn-primary">
    </form>
</div>

{% endblock content %}
{% include 'footer.html' %}