{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}

<style>
  
  .table th {
    background-color: #343a40;
    color: #fff;
    border-color: #343a40;
    text-transform: uppercase;
    font-weight: bold;
  }
  .table td {
    vertical-align: middle;
  }
  .btn-danger {
    background-color: #343a40;
    border-color: #343a40;
  }
  .btn-danger:hover {
    background-color: #343a40;
    border-color: #343a40;
  }
</style>

    
<div>
    <br>
    <h2 class="text-center">View Patient</h2>
    <br>
    <table id="example" class="table table-hover display" style="width:100%">
        <thead>
        <tr>
            <th>PatientId</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Delete</th>
            
        </tr>
        </thead>
        <tbody>
        {% for i in doc %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.Name }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.mobile }}</td>
            <td>{{ i.address }}</td>
            <td><a href="{% url 'delete_patient' i.id %}" onclick="return confirm('Are you sure?')" 
                   class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
{% include 'footer.html' %}