<nav class="navbar navbar-expand-sm bg-dark fixed-bottom">
    <div class="footer-bottom">
        <div class="container1">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="copyright-text">
                        <p class="text-white">© 2024 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    .footer-bottom {
    background-color: #343a40; /* Dark background color */
    padding: 10px 0; /* Adjust as needed */
}

.footer-bottom p {
    color: #fff; /* White text color */
    margin-bottom: 0; /* Remove default margin */
}
</style>